@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  /* Allow changing font family via CMS */
  html {
    font-family: var(--font-family);
  }

  /** Remove default styles from input[type=number] */
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
  }

  input[type=date]::-webkit-calendar-picker-indicator {
    @apply bg-white rounded-full p-2 ml-4
  }
}

@layer components {

  /** Prevent scroll when modal is open */
  .no-scroll {
    overflow: hidden;
    height: 100vh;
  }
}

@layer utilities {

  /** Remove scrollbar from overflow-auto */
  .scrollbar-none {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }

  .custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #161616 #ffffff;
  }
  
  .custom-scrollbar::-webkit-scrollbar {
    /* Customize the scrollbar width */
    width: 3px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    /* Customize the scrollbar track */
    @apply bg-white
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    /* Customize the scrollbar thumb */
    @apply bg-primary rounded border-none
  }
}
